@font-face {
  font-family: "Lilex";
  src: url("./Lilex.ttf") format("truetype");
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    "Lilex", "SF Mono", Monaco, "Cascadia Code", "Roboto Mono", Consolas,
    "Courier New", monospace;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  background: #0d1117;
  flex-direction: column;
}

#terminal-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 0;
  height: 100%;
}

#terminal-container {
  flex: 1;
  padding: 12px;
  background: #0d1117;
  overflow: hidden;
  height: 100%;
}

#terminal {
  width: 100%;
  height: 100%;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer > a {
  color: #c9d1d990;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 8px;
  margin-left: 12px;
  &:hover {
    color: #ffffff;
  }
}

#loading {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 12px 8px 0;
  color: #c9d1d990;
  font-size: 12px;
  font-weight: 400;
}
