@import "tailwindcss";

@font-face {
  font-family: "Lilex";
  src: url("/fonts/Lilex.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lilex";
  src: url("/fonts/Lilex-Italic.woff2") format("woff2");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

:root {
  --keyboard-height: 0px;
}
